{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <h3>Manage Team</h3>
    <br>
    <p>
      <ul class="list-group">
        <li class="list-group-item list-group-item-light">
          <a href="{{ url_for('create_projects') }}" style="text-color: grey;">Create Projects</a>
        </li>
        <li class="list-group-item list-group-item-light">
          <a href="{{ url_for('assign_tasks') }}" style="text-color: grey;">Assign Tasks</a>
        </li>
        <li class="list-group-item list-group-item-light">
          <a href="{{ url_for('assign_budgets') }}" style="text-color: grey;">Assign Portfolio Budgets</a>
        </li>
      </ul>
    </p>
  </div>
{% endblock content %}
